.secondPage__buttonBack {
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.secondPage__basket {
  margin-top: 5rem;
  margin-bottom: 5rem;
  background-color: $secondary;
  padding: 3rem;
}

.secondPage__item {
  display: flex;
  padding: 2rem;
  margin-bottom: 2rem;
  background-color: $primary;
}

.secondPage__name {
  padding-left: 2rem;
  font-size: 1.8rem;
  font-weight: 600;
  flex: 0 1 75rem;
}

.secondPage__price {
  font-size: 1.8rem;
  font-weight: 600;
  flex: 0 0 10rem;
  text-align: center;
}

.secondPage__itemCount {
  font-size: 1.8rem;
  font-weight: 600;
  flex: 0 0 15rem;
  text-align: center;
}

.secondPage__basket-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.secondPage__basket-totalPrice {
  font-size: 1.8rem;
  font-weight: 700;
}

.secondPage__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

// Переделать

body {
  font-size: 30px;
}

@media (max-width: 900px) {
  body {
    font-size: 20px;
  }
}

@media (max-width: 600px) {
  body {
    font-size: 12px;
  }
}

@media (max-width: 400px) {
  body {
    font-size: 10px;
  }
}

* {
  box-sizing: border-box;
  outline: none;
}

.secondPage__cards {
  width: 25em;
  height: 13em;
  position: relative;
  margin: 0;

  .secondPage__card {
    position: absolute;
    width: 18.5em;
    height: 11.5em;
    border-radius: 0.8em;

    &.secondPage__front {
      border: 1px solid #bbb;
      top: 0;
      left: 0;
      background: #fff;
      z-index: 100;

      .secondPage__bank-logo {
        position: absolute;
        top: -0.3em;
        left: 0;
        padding: 1.3em;
        width: 100%;
        height: 5em;
        object-fit: contain;
        object-position: 0 0;
        display: none;
      }

      .secondPage__brand-logo {
        position: absolute;
        bottom: 1.3em;
        right: 1.3em;
        text-align: right;
        height: 1.8em;
        display: none;
      }

      .secondPage__fields {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        padding: 1.3em;

        .secondPage__number {
          width: 100%;
          margin-bottom: 0.3em;
        }

        .secondPage__expired {
          display: inline-block;
          width: 3em;
          margin-right: 0.5em;
          margin-top: 0.3em;
        }
      }
    }

    &.secondPage__back {
      bottom: 0;
      right: 0;
      background: #bbb;
      padding-top: 5.8em;
      padding-right: 1.3em;
      padding-left: 13.2em;

      .secondPage__code {
        width: 100%;
      }

      &:before {
        content: '';
        position: absolute;
        top: 1.3em;
        background: #444;
        width: 100%;
        height: 3em;
        left: 0;
      }
    }
  }
}

.secondPage__field {
  padding: 0.3em 0.5em;
  font-family: Courier, monospace;
  font-size: 1em;
  text-indent: 0.1em;
  border: 1px solid #666;
}

.secondPage__label {
  font-size: 0.8em;
  display: block;
  margin-top: 0.5em;
}